@charset "utf-8";

* {
    font-family: 'Roboto', Arial, sans-serif;
    overflow-x: hidden;
}

body {
    background-color: lightgray;
}

.bg1 {
    position: relative;
    background-image: url(../../assets/images/index_bg.png);
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.bg2 {
    position: relative;
    background-image: url(../../assets/images/index_bg2.svg);
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg3 {
    position: relative;
    background-image: url(../../assets/images/index_bg3.svg);
    background-color: #f7e7d9;;
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.nav-item:hover {
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
    color: #FFFFFF;
}

.nav-item-active:hover {
    text-decoration: underline;
    text-decoration-color: #F59331;
    color: #F59331;
}

@media only screen and (max-width: 767px) {
    .title {
        padding-top: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .title {
        padding-top: 15vh;
    }
}

.tipo-img {
    height: 200px;
}

@media only screen and (min-width: 1920px) {
    .tipo-img {
        height: 400px;
    }
}

.page-title {
    text-shadow: 2px 2px #f7e7d9;
}

body::-webkit-scrollbar {
    width: 0.4rem;
}
  
body::-webkit-scrollbar-track {
    background: #909090;
}
  
body::-webkit-scrollbar-thumb {
    background: #404040;
}